p {
    color: rgb(16, 28, 85);
    text-align: center;
}

h1 {
    color: red;
}

.violeta-negrita {
    color: purple;
    font-weight: bold;
}

.fondo-rosa {
    background: pink;
}

#itemEspecial {
    font-weight: bolder;
}

ol li {
    color: orange;
}
